/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/08/2014, 02:03:29 PM
    Author     : MarcoNey
*/

.BarraPrincipal{
    width: 100%;   
    height: 50px;
    position: fixed;
    padding-bottom: 50px;
    margin-bottom: 50px;
    top: -2px;
    z-index: 50;
}

.BarraActividades{
    width: 100%;   
    height: 50px;
    position: fixed;
    top: 50px;
    z-index: 50;
}

.ContenedorBotones{
    padding-left: 30px;
}

.AnchoBoton{
    margin-top: -1.5%;
    margin-bottom: -1.5%;
    width: 32%;
    padding: 1%;
}

.BotonAtras{
    width: 15%;
    padding: 1%;
    margin-top: -1.5%;
    margin-bottom: -1.5%;
}

.BotonAgregarPerfil{
    width: 20%;
    padding: 1%;
    margin-top: -1.5%;
    margin-bottom: -1.5%;
}

.AnchoBotonActividades{
    margin-top: -1.5%;
    margin-bottom: -1.5%;
    width: 42%;
    padding: 1%;
}

.AnchoBotonPerfil{
    margin-top: -1.5%;
    margin-bottom: -1.5%;
    width: 29%;
    padding: 1%;
}

.ContenedorBotonesActividades{
    padding-left: 30px;
}


//Actividades

.ContenedorActividades{
    top: 20%;
    width: 100%;
    height: 100%;
}

//Eventos

.InputFecha{
    width: 30%;
}


//Geleria

.ContenedorFoto{
    width: 100%;
    height: 100%;
}

.FotoPerfil{
    margin-top: 10px;
}

.Foto{
    margin-top: 15%;
    width: 100%;
    width: 100%;
}

//Perfil 

.ContenedorPerfil{
    width: 100%;
    height: 70%
}

.BotonFace{
    font-size: 20px;
    width: 80%;
    padding-top: 5%;
    padding-bottom:5%;
    margin: 5%;
    height: 20%;
}

.Width100{
    width: 100%;

}

.VCenter{
    padding-top: 3%;
}

.Encabezado{
    color: #2a6496;
    width: 100%;
    font-size: 45px;
    font-family: cursive;
}

.ImagenInicio{
    padding-top: 0.5%;
    width: 95%;
    margin: 2.5%;
}

.divImagenInicio{
    width: 90%;
    background-color: #2aabd2;
}

.InputBuscar{
    font-size: 20px;
    padding: 25px;
    width: 70%;
}

.BotonBuscar{
    width: 30%;
}

//Estilos para los botones de las opciones 

.BotonesOpciones{
 height: 50%;
 font-size: x-large;   
}

.DivOpciones{
    top: 0%;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
}

.DivOpcionesContenedor{
    height: 30%; 
    width: 50%; 
    position: absolute;
    top: 25%;
    left: 25%;
    margin: 25%;
    margin: 0 auto;
}

///////////////////////////////////////////////////////////
//      Estilos opciones de un perfil 
///////////////////////////////////////////////////////////

.DivOpcionesPerfiles{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 101;
    visibility: hidden;
}

.DivContenedorOpcionesPerfiles{
    visibility: hidden;
    height: 30%; 
    width: 150px; 
    position: fixed;
    top: 8%;
    right: 1%;
    z-index: 60;
}